#bikeCanvas{
  border:1px solid #d3d3d3;
  position:relative;
  z-index:20;
}

.race_canvas{
  float:left;
  display:inline-block;
   margin: 0, auto;
   background: white;
   position:relative;
   border:2px solid #cccccc;
   border-radius: 10px;
   box-shadow: 0 5px 10px #333
}

.canvas_background{
  position:absolute;
  z-index:1;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}
.playbutton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;
  &.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
.label1{
  padding:4px;
  color: #333333;
}
.buttonRed{
  background-color: red;
}
.buttonOrange{
  background-color: orange;
}
.race_info{
  background-color: #eeeeee;
  padding: 10px;
  border: 2px solid #444444;
  margin: 10px;
  float: left;
  max-height: 400px;
  overflow: auto;
}

.riders_info{
  background-color: #eeeeee;
  padding:10px;
  border: 1px solid #444444;
  display: inline-flex;
  margin: 10px;
    width: 100%;
}
.rider_info{
  background-color: #ffefee;
  border:1px solid #333333;
  padding:2px;
  display: inline-block;

}
.player{
  margin: 50px 0;
}

#race_info_clock{
  background-color: #ffffff;
  padding: 4px;
  border: 1px solid #333333;
}
.info_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left:10px;
}
#rider_values_header{
  font-weight:bold;
}

.info_column {
  display: flex;
  flex-direction: column;
  //flex-basis: 100%;
  flex: 0 0 20em;
  padding:4px;
}
.results_table td{
  border:1px solid #666666;
  padding:2px;
}
.results_table tr:nth-child(even) {
  background-color: #dddddd;
}
#race_result{
  max-height:400px;
  overflow: auto;
}
#race_result_stats{
  max-height:400px;
  max-width:100%;
  overflow: auto;
}
