#results_list{
  max-height: 400px;
  overflow: auto;
  border: 4px solid #cccccc;
  padding: 2px;

}

.range-slider {

  // Slider
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */

  }
}

// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner {
  border: 0;
}



.three-cogs {
	 position: relative;
   visibility: hidden;
}
 .three-cogs > .fa:nth-child(1) {
	 animation-duration: 4s;
}
 .three-cogs > .fa:nth-child(2), .three-cogs > .fa:nth-child(3) {
	 position: absolute;
	 top: -0.2em;
	 right: -0.45em;
	 animation-direction: reverse;
	 animation-duration: 2s;
}
 .three-cogs > .fa:nth-child(3) {
	 top: auto;
	 bottom: -0.2em;
}
 @keyframes color {
	 0% {
		 color: red;
	}
	 50% {
		 color: blue;
	}
	 100% {
		 color: red;
	}
}


#bikeCanvas{
  border:1px solid #d3d3d3;
  position:relative;
  z-index:20;
}

.race_canvas{
  float:left;
  display:inline-block;
   margin: 0, auto;
   background: white;
   position:relative;
   border:2px solid #cccccc;
   border-radius: 10px;
   box-shadow: 0 5px 10px #333
}

.canvas_background{
  position:absolute;
  z-index:1;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
}
.playbutton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  // play state
  border-style: solid;
  border-width: 37px 0 37px 60px;
  &.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
.label1{
  padding:4px;
  color: #333333;
}
.buttonRed{
  background-color: red;
}
.buttonOrange{
  background-color: orange;
}
.race_info{
  background-color: #eeeeee;
  padding: 10px;
  border: 2px solid #444444;
  margin: 10px;
  float: left;
  max-height: 400px;
  overflow: auto;
}

.riders_info{
  background-color: #eeeeee;
  padding:10px;
  border: 1px solid #444444;
  display: inline-flex;
  margin: 10px;
    width: 100%;
}
.rider_info{
  background-color: #ffefee;
  border:1px solid #333333;
  padding:2px;
  display: inline-block;

}
.player{
  margin: 50px 0;
}

#race_info_clock{
  background-color: #ffffff;
  padding: 4px;
  border: 1px solid #333333;
  color: #333333;
  font-size:2em;
}
.info_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*width: 100%;*/
  margin-left:2px;
}
#rider_values_header{
  font-weight:bold;
}

.info_column {
  display: flex;
  flex-direction: column;
  //flex-basis: 100%;
  flex: 0 0 12em;
  padding:4px;
}

.rider_aim{
  padding-left:2px;
  font-style: italic;
  font-size:0.8em;

}
.results_table td{
  border:1px solid #666666;
  padding:2px;
  max-width: 300px;
  max-height: 100px;
  overflow: auto;
}
.results_table tr:nth-child(even) {
  background-color: #dddddd;
}
#race_result{
  max-height:400px;
  overflow: auto;
  border: 4px solid #cccccc;
  padding:2px;
}
#race_result_stats{
  max-height:400px;
  max-width:100%;
  overflow: auto;
}

/* toggle swithc css from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end of toggle switch */
